.product {
  margin: 20px 0px;
}

.gallery {
  margin-top: 20px;
  display: inline-block;
}

.gallery img {
  margin-bottom: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.selected-img {
  display: inline-block;
}

.selected-img img {
  margin-top: -50px;
  margin-left: 40px;
}

.img-cont{
  background-color: #eceeef;
  width: 100%;
}

.product-info{
  padding-top: 15px;
  box-shadow: 2px 2px 5px #999;
}

.product-name{
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.product-name span {
  color: #7c7c7d;
}

.product-name p{
  color: #7c7c7d;
  font-size: 1.5em;
  margin-bottom: 0px;
  font-weight: lighter;
}

.product-name h4{
  color: black;
  font-size: 2em;
  margin-bottom: 5px;
  font-weight: bold;
}

.offer {
  margin-top: 15px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.offer h4 {
  color: black;
  font-size: 1.2em;
  margin-bottom: 0px;
  font-weight: bold;
}

.offer p {
  color: #7c7c7d;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: normal;
}

.colors-item {
  margin-top: 10px;
}

.colors-item div {
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
}

.colors{
  margin-bottom: 10px;
}

.talla{
  margin-top: 15px;
}

.add-cart{
  margin-top: 15px;
}

.info-product p {  
  color: #7c7c7d;
  font-size: 14px;
  font-weight: lighter;
}

.info-sales{
  border-style: solid;
  border-width: 0px 0px 0px 1px;
}

.info-sales h2{
  color: #7c7c7d;
  font-size: 1.5em;
  margin-bottom: 0px;
  font-weight: lighter;
}

/*set a border on the images to prevent shifting*/
#gallery img{border:2px solid white;}
 
/*Change the colour*/
.active img{border:2px solid #333 !important;}